<!--
# Copyright 2009, 2010 Benjamin Lee Smith <benjamin.lee.smith@gmail.com>
#
# This file is part of Voltron Portfolio.
# Voltron Portfolio is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Voltron Portfolio is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Voltron Portfolio.  If not, see <http://www.gnu.org/licenses/>.
-->
<% content_for :title, ::PORTFOLIO_CONFIG['title'] %>
<div id="home">
	<%=render :partial => 'home'%>
</div>
<div id="blog" style="display:none;">
	<% @posts.each do |post| %>
	  <div class="post">
	  	<div class="title"><%=link_to(post.elements['title'].text, post.elements['link'].text, :target => '_blog')%></div>
			<div class="body"><%=raw CGI.unescapeHTML(post.elements['content:encoded'].text)%></div>
			<div class="comments"><%=link_to("#{post.elements['slash:comments'].text} Comments", post.elements['comments'].text, :target => '_blog')%></div>
	  </div>
	<% end %>
</div>
<div id="contact" style="display:none;">
	<%=render :partial => 'contact'%>
</div>
<div id="photo_viewer_wrapper" onMouseOut="fixOnMouseOut(this, event, 'VP.hide_nav();');" onMouseOver="VP.show_nav();">
	<div class="photo_viewer">
		<% @photoset.photo.each_with_index do |photo, i|%>
		  <div id="photo_<%=i%>" class="photo_wrapper" <%="style='display:none;'" if i!=0%>>
		  	<table>
		  	  <tr>
		  	    <td>
		          <%= image_tag(photo.url_l, :width => photo_width(photo), :height => photo_height(photo))%>
              <%=link_to(image_tag('flickr.png', :height => 50), photo_source(photo), :class => 'hidden_nav', :style => 'display:none', :target=>'_flickr')%>
						</td>
					</tr>
		  	</table>
		  </div>
		<% end %>
	</div>
	<div class="portfolio_nav hidden_nav" style="display:none;">
	  <a href="#" id="previous_button" style="display:none;" onclick="javascript:VP.previous_image();VP.cycling = false;return false;"><%=image_tag('back.png')%></a> <a href="#" id="next_button" <%='style="display:none;"' if @photoset.photo.length < 2%> onclick="javascript:VP.next_image();VP.cycling = false;return false;"><%=image_tag('forward.png')%></a>
	</div>
</div>